$font-installed: "Verdana";
$font-local: "Avenir Next";

body {
    font-family: $font-local, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: $font-local;
    src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
    font-family: $font-local;
    src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: $font-local;
    src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
}