@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.main {
    background-image: url(../../assets/images/hero-image--mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
        background-image: url(../../assets/images/hero-image--desktop.jpg);
    }

    &__title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;

        &--heading,
        &--subheading {
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 4px;
            line-height: 41.6px;
            text-align: center;
        }

        &--subheading {
            font-weight: 500;
            padding-top: 20px;
            color: rgba(180, 181, 196, 0.7490196078);
            font-size: 20px;
        }

    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 10px;
        font-weight: 600;

        &-item {
            color: white;
            text-decoration: none;
        }
    }
}